{% extends "base.html" %}

{% block content %}
<h1>Create Campaign</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.template.label(class="form-label") }}
        {{ form.template(class="form-select") }}
        {% for error in form.template.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.targets.label(class="form-label") }}
        {{ form.targets(class="form-control", rows=3, placeholder="email1@example.com, email2@example.com") }}
        {% for error in form.targets.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <div class="form-text">Comma-separated email addresses to target.</div>
    </div>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock %}